@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ebffbf;
}
h1 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  text-align: center;
}

.container {
  width: 340px;
  height: 465px;
  padding: 20px;
  border: 5px solid black;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  background-color: #63bda4;
}

.inputField {
  height: 75px;
  width: auto;
  border: 5px solid black;
  border-radius: 5px;
  background-color: #d9ffea;
  color: black;
  overflow: hidden;
}

#input {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  height: 65px;
  text-align: right;
  padding: 5px;
  padding-right: 10px;
  font-size: 45px;
}

.buttons {
  display: grid;
  grid-template-rows: repeat(5, 65px);
  grid-template-columns: repeat(4, 75px);
  margin-top: 25px;
  border-radius: 5px;
}

.buttons button {
  border-radius: 35px;
  border: 3px solid black;
  font-size: 23px;
  cursor: pointer;
  margin: 4px;
  background-color: #62afb7;
  color: white;
}

#zero {
  grid-column: 1 / span 2;
}

#ac,
#opposite,
#percent {
  background-color: #ffec47;
  color: black;
}

#ac:hover,
#opposite:hover,
#percent:hover {
  background-color: #a59c49;
}

#division,
#multiply,
#substract,
#add,
#equal {
  background-color: #f20553;
}

#division:hover,
#multiply:hover,
#substract:hover,
#add:hover,
#equal:hover {
  background-color: #881a3f;
}

#zero:hover,
#decimal:hover,
#one:hover,
#two:hover,
#three:hover,
#four:hover,
#five:hover,
#six:hover,
#seven:hover,
#eight:hover,
#nine:hover {
  background-color: #38696e;
}
